<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9ddbb73f-7a81-4d90-b96a-ae360b43e1d8/resourceGroups/BGS-APP-DEMO-RG/providers/Microsoft.Web/sites/TodoListService20210226114437</ResourceId>
    <ResourceGroup>BGS-APP-DEMO-RG</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todolistservice20210226114437.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://todolistservice20210226114437.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a55c5542-9c7b-4a34-932c-05daf36ced0c</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sy3-051.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoListService20210226114437</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TodoListService20210226114437</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>